<div id="logoContainer">
    <a id="linkToIndex" href="../index.html">
        Logo here
    </a>
</div>
<nav id="navbar">
    <ul>

        <li><a class="navbarLink" href="/pages/game.html">Game</a></li>
        <li><a class="navbarLink" href="/pages/customisations.html">Customisation</a></li>
        <li><a class="navbarLink" href="/pages/leaderboard.html">Leaderboard</a></li>
    </ul>
</nav>
<div id="accountButtonsContainer">
    <div class="accountButtons" id="loginButton">
        <a class="accountButtonLabels" href="/pages/login.html">Login!</a>
    </div>
    <div class="accountButtons" id="signUpButton">
        <a class="accountButtonLabels" href="/pages/register.html">Sign up</a>
    </div>
</div>