<div id="logoContainer">
    <a id="linkToIndex" href="../index.html">
        Logo here
    </a>
</div>
<nav id="navbar">
    <ul>

        <li><a class="navbarLink" href="game.php">Game</a></li>
        <li><a class="navbarLink" href="customisations.php">Customisation</a></li>
        <li><a class="navbarLink" href="leaderboard.php">Leaderboard</a></li>
    </ul>
</nav>
<div id="accountButtonsContainer">
    <div class="accountButtons" id="loginButton">
        <a class="accountButtonLabels" href="login.php">Login!</a>
    </div>
    <div class="accountButtons" id="signUpButton">
        <a class="accountButtonLabels" href="register.php">Sign up</a>
    </div>
</div>