#header {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 90px;
}

#logoContainer {
    background-color: aqua;
    height: inherit;
    display: inline;
    position: relative;
    margin-left: 10px;
    float:left;
    width: 220px;
    height: inherit;
}